<!DOCTYPE html>
<html lang="pt-br">
 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alterar Preço</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
 
<body>
  <div class="container-fluid">
    <form method="POST">
      {% csrf_token %}
      <div class="card">
        <div class="card-header bg-primary text-white">
          Alterar Preço do Produto
        </div>
        <div class="card-body">
          <div class="row">
            <!-- Preço -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="priceprod" class="form-label">Preço:</label>
                <input type="text" class="form-control" id="priceprod" name="priceprod" value="{{ form.priceprod.value }}" style="max-width: 200px;">
              </div>
            </div>
 
            <!-- Data de Verificação -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="dateverify" class="form-label">Data de Verificação:</label>
                <input type="date" class="form-control" id="dateverify" name="dateverify" value="{{ form.dateverify.value|date:"Y-m-d" }}" style="max-width: 200px;">
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Salvar Alterações</button>
          <a href="{% url 'historyprice' form.instance.codprod.codprod %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</body>
 
</html>
